* {
    box-sizing: border-box;
}

body {
    height: 1000px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;

    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: whitesmoke;
    height: 500px;
    padding: 10px;
    border: 5px whitesmoke;
    margin: 15px;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

p {
    text-align: center;
    font-size: 25px;
}

p.under-text {
    font-size: 20px;
    color: rgb(167, 167, 167);
}

.button1 {
    display: flex;
    justify-content: space-evenly;
}
